<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<td><a th:href="@{/view/{id}(id=${customer.id})}"><span th:text="${customer.id}"></span></a></td>-->

<a th:href="@{/category}">Back</a>
<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>des</td>
        <td>img</td>
    </tr>
    <tr>
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.description}"></td>
        <td th:text="${category.image}"></td>
    </tr>
</table>

</body>
</html>