<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>order Table</title>
    <th:block th:replace="back-end/layout/link::linkHeader">
    </th:block>
</head>
<body>
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <th:block th:replace="back-end/layout/header-mobile::headerMobile">
    </th:block>
    <!-- END HEADER MOBILE-->
    <!-- MENU SIDEBAR-->
    <th:block th:replace="back-end/layout/side-bar::sideBar">
    </th:block>
    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <th:block th:replace="back-end/layout/header::headerDesktop">
        </th:block>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="ml-3 mb-4">
                            <a type="reset" class="btn btn-primary btn-sm" th:href="@{/order}">Back
                            </a>
                        </div>
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <!--                            <div class="col-lg-6">-->
                            <div class="card">
                                <div class="card-header">
                                    <strong>Add Form</strong> order
                                </div>
                                <div class="card-body card-block">
                                    <form th:action="@{/order/create}" th:object="${order}" method="post"
                                          class="form-horizontal">
                                        <input type="hidden" th:field="*{id}">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="address1" class=" form-control-label">Address 1</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="address1"
                                                       placeholder="address1" class="form-control"
                                                       th:field="*{address1}">
                                                <span th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}">Name Error</span>
                                                <small class="form-text text-muted">Không được bỏ trống</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="address2" class=" form-control-label">Address 2</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="address2"
                                                       placeholder="address2" class="form-control"
                                                       th:field="*{address2}">
                                                <small class="help-block form-text">Please enter your
                                                    address2</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="city" class=" form-control-label">city</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select th:field="*{province.id}" id="city">
                                                    <option th:each="pro: ${provinces}" th:value="${pro.id}" th:text="${pro.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="companyName" class=" form-control-label">Company
                                                    Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="companyName"
                                                       placeholder="city" class="form-control"
                                                       th:field="*{companyName}">
                                                <small class="help-block form-text">Please enter a companyName</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="email" class=" form-control-label">Email</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="email" id="email"
                                                       placeholder="email" class="form-control"
                                                       th:field="*{email}">
                                                <small class="help-block form-text">Please enter a email</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="firstName" class=" form-control-label">First Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="firstName"
                                                       placeholder="firstName" class="form-control"
                                                       th:field="*{firstName}">
                                                <small class="help-block form-text">Please enter a firstName</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="lastName" class=" form-control-label">Last Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="lastName"
                                                       placeholder="lastName" class="form-control"
                                                       th:field="*{lastName}">
                                                <small class="help-block form-text">Please enter a lastName</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="note" class=" form-control-label">Note</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <textarea id="note" class="form-control"
                                                          th:field="*{note}">
                                                </textarea>
                                                <small class="help-block form-text">Please enter a note</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="paymentMethod" class=" form-control-label">Payment
                                                    Method</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select th:field="${order.paymentMethod}" id="paymentMethod">
                                                    <option th:value="1">COD</option>
                                                    <option th:value="2">bank</option>
                                                    <option th:value="3">paypal</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="phone" class=" form-control-label">phone</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="number" id="phone"
                                                       placeholder="phone" class="form-control"
                                                       th:field="*{phone}">
                                                <small class="help-block form-text">Please enter a phone</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="status" class=" form-control-label">status</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="number" id="status"
                                                       placeholder="status" class="form-control"
                                                       th:field="*{status}">
                                                <small class="help-block form-text">Please enter a status</small>
                                            </div>
                                        </div>
                                        <div style=" display: flex; justify-content: space-between">
                                            <div class="card-footer" style=" display: flex">
                                                <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="margin: 10px">

                                                </input>
                                                <input type="reset" class="btn btn-danger btn-sm" href="#" style="margin: 10px">

                                                </input>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                            <!--                            </div>-->
                            <!-- END DATA TABLE -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>
                                    Copyright © 2018 Colorlib. All rights reserved. Template
                                    by <a href="../bootstrap/https://colorlib.com">Colorlib</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="back-end/layout/link::script">

</th:block>
</body>
</html>