<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer Table</title>
    <th:block th:replace="back-end/layout/link::linkHeader">
    </th:block>
</head>
<body>

<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <th:block th:replace="back-end/layout/header-mobile::headerMobile">
    </th:block>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <th:block th:replace="back-end/layout/side-bar::sideBar">
    </th:block>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <th:block th:replace="back-end/layout/header::headerDesktop">
        </th:block>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <h3 class="title-5 m-b-35">data table</h3>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">

                                </div>
                                <div class="table-data__tool-right">
                                    <a
                                            class="au-btn au-btn-icon au-btn--green au-btn--small"
                                            th:href="@{/customer/create}"
                                    >
                                        <i class="zmdi zmdi-plus"></i>add item
                                    </a>
                                    <div
                                            class="rs-select2--dark rs-select2--sm rs-select2--dark2"
                                    >
                                        <select class="js-select2" name="type">
                                            <option selected="selected">Export</option>
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                    <tr>

                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>address1</th>
                                        <th>address2</th>
                                        <th>email</th>
                                        <th>phone</th>
                                        <th>action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr-shadow" th:each="customer : ${customers}">

                                        <td th:text="${customer.id}"></td>
                                        <td th:text="${customer.firstName}"></td>
                                        <td th:text="${customer.lastName}"></td>
                                        <td th:text="${customer.address1}"></td>
                                        <td th:text="${customer.address2}"></td>
                                        <td th:text="${customer.email}"></td>
                                        <td th:text="${customer.phone}"></td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a
                                                        class="item"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Send"
                                                >
                                                    <i class="zmdi zmdi-mail-send"></i>
                                                </a>
                                                <a
                                                        class="item"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Edit"
                                                        th:href="@{/customer/update/{id}(id = ${customer.id})}"
                                                >
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a
                                                        class="item"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Delete"
                                                        th:href="@{/customer/delete/{id}(id = ${customer.id})}"
                                                >

                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                                <a
                                                        class="item"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="More"
                                                >
                                                    <i class="zmdi zmdi-more"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    </tbody>
                                </table>
                                <div>
                                    <a th:href="@{'/customer'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
                                    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
                                    <a th:href="@{'/customer'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
                                </div>
                            </div>
                            <!-- END DATA TABLE -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>
                                    Copyright © 2018 Colorlib. All rights reserved. Template
                                    by <a href="../bootstrap/https://colorlib.com">Colorlib</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="back-end/layout/link::script">

</th:block>
</body>
</html>