<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="nav-bar">
    <!-- Header
    ============================================= -->
    <header id="header" class="full-header">
        <div id="header-wrap">
            <div class="container clearfix">
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="/assets/front-end/images/logo.png" alt="Canvas Logo"></a>
                    <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="/assets/front-end/images/logo@2x.png" alt="Canvas Logo"></a>
                </div><!-- #logo end -->
                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">
                    <ul>
                        <li class="current"><a href="#">
                            <div>Home</div>
                            <span>Lets Start</span></a>
                        </li>
                        <!-- Mega Menu
                        ============================================= -->
                        <li class="mega-menu"><a href="#">
                            <div>Men</div>
                            <span>Out of the Box</span></a>
                            <div class="mega-menu-content style-2 clearfix">
                                <ul class="mega-menu-column col-md-3">
                                    <li class="mega-menu-title"><a href="#">
                                        <div>Footwear</div>
                                    </a>
                                        <ul>
                                            <li><a href="#">
                                                <div>Casual Shoes</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Formal Shoes</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Sports shoes</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Flip Flops</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Slippers</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Sports Sandals</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Party Shoes</div>
                                            </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="mega-menu-column col-md-3">
                                    <li class="mega-menu-title"><a href="#">
                                        <div>Clothing</div>
                                    </a>
                                        <ul>
                                            <li><a href="#">
                                                <div>Casual Shirts</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>T-Shirts</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Collared Tees</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Pants / Trousers</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Ethnic Wear</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Jeans</div>
                                            </a></li>
                                            <li><a href="#">
                                                <div>Sweamwear</div>
                                            </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li><!-- .mega-menu end -->
                        <li><a href="#">
                            <div>Category</div>
                            <span>Out of the Box</span></a>
                            <div class="mega-menu-content style-2 clearfix">
                                <ul class="mega-menu-column col-md-6">
                                    <li class="mega-menu-title"><a href="#">
                                        <div>Footwear</div>
                                    </a>
                                        <ul>
                                            <th:block th:each="cate : ${findAllCategories}">
                                            <li><a th:href="@{/shop/category/{id}(id = ${cate.id})}"">
                                                <div th:text="${cate.name}"></div>
                                            </a></li>
                                            </th:block>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li><!-- .mega-menu end -->

                        <li><a href="#">
                            <div>New</div>
                            <span>Awesome Works</span></a></li>
                        <li><a href="#">
                            <div>Contact</div>
                            <span>Get In Touch</span></a></li>

                    </ul>
                    <!-- Top Cart
                    ============================================= -->
                    <div id="top-cart">
                        <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
                        <div class="top-cart-content">
                            <div class="top-cart-title">
                                <h4>Shopping Cart</h4>
                            </div>
                        </div>
                    </div><!-- #top-cart end -->

                    <!-- Top Search
                    ============================================= -->
                    <div id="top-search">
                        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                        <form action="search.html" method="get">
                            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                        </form>
                    </div><!-- #top-search end -->

                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->
</th:block>
</body>
</html>