<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="nav-bar">
    <!-- Header
    ============================================= -->
    <header id="header" class="full-header">
        <div id="header-wrap">
            <div class="container clearfix">
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a th:href="@{/index}" class="standard-logo" data-dark-logo="images/logo-dark.png"><img
                            src="/assets/front-end/images/logo.png" alt="Canvas Logo"></a>
                    <a th:href="@{/index}" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img
                            src="/assets/front-end/images/logo@2x.png" alt="Canvas Logo"></a>
                </div><!-- #logo end -->
                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">
                    <ul>
                        <li class="current"><a th:href="@{/index}">
                            <div>Home</div>
                            <span>Lets Start</span></a>
                        </li>
                        <!-- Mega Menu
                        ============================================= -->
                        <li><a th:href="@{/shop}">
                            <div>Women</div>
                            <span>Awesome Works</span></a>
                            <div class="mega-menu-content style-2 clearfix" style="max-width: 200px">
                                <ul class="mega-menu-column col-md-12">
                                    <li class="mega-menu-title">
                                        <ul>
                                            <th:block th:each="cate : ${findAllCategories}">
                                                <li><a th:href="@{/shop/category/{id}(id = ${cate.id})}">
                                                    <div th:text="${cate.name}"></div>
                                                </a></li>
                                            </th:block>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div>Men</div>
                                <span>Out of the Box</span></a>
                            <div class="mega-menu-content style-2 clearfix" style="max-width: 200px">
                                <ul class="mega-menu-column col-md-12">
                                    <li class="mega-menu-title">
                                        <ul>
                                            <th:block th:each="cate : ${findAllCategories}">
                                                <li><a th:href="@{/shop/category/{id}(id = ${cate.id})}">
                                                    <div th:text="${cate.name}"></div>
                                                </a></li>
                                            </th:block>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li><!-- .mega-menu end -->
                        <li><a href="#">
                            <div>Category</div>
                            <span>Out of the Box</span></a>
                            <div class="mega-menu-content style-2 clearfix" style="max-width: 200px">
                                <ul class="mega-menu-column col-md-12">
                                    <li class="mega-menu-title">
                                        <ul>
                                            <th:block th:each="cate : ${findAllCategories}">
                                                <li><a th:href="@{/shop/category/{id}(id = ${cate.id})}">
                                                    <div th:text="${cate.name}"></div>
                                                </a></li>
                                            </th:block>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a th:href="@{/cart/showCart}">Cart</a>
                        </li>
                        <!-- .mega-menu end -->
                    </ul>
                    <!-- Top Cart
                    ============================================= -->
                    <div id="top-cart">
                        <a th:href="@{/cart/showCart}" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
                        <div class="top-cart-content">
                            <div class="top-cart-title">
                                <h4>Shopping Cart</h4>
                            </div>
                        </div>
                    </div><!-- #top-cart end -->
                    <!-- Top Search
                    ============================================= -->
                    <div id="top-search">
                        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                        <form action="search.html" method="get">
                            <input type="text" name="q" class="form-control" value=""
                                   placeholder="Type &amp; Hit Enter..">
                        </form>
                    </div><!-- #top-search end -->
                </nav><!-- #primary-menu end -->
            </div>
        </div>
    </header><!-- #header end -->
</th:block>
</body>
</html>