<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <th:block th:replace="back-end/layout/link::linkHeader">
    </th:block>
</head>
<body>

<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <th:block th:replace="back-end/layout/header-mobile::headerMobile">
    </th:block>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <th:block th:replace="back-end/layout/side-bar::sideBar">
    </th:block>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <th:block th:replace="back-end/layout/header::headerDesktop">
        </th:block>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="ml-3 mb-4">
                            <a type="reset" class="btn btn-primary btn-sm" th:href="@{/user}">Back
                            </a>
                        </div>
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <!--                            <div class="col-lg-6">-->

                            <div class="row">
                                <!-- FORM ADD-->
                                <div class="col-12 col-md-12">
                                    <div class="card-header">
                                        <strong th:text="${user.id}"></strong>
                                    </div>
                                    <form th:object="${user}">
                                        <div class="card-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">email :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <p th:text="*{email}"></p>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">full name :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <p th:text="*{fullName}"></p>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">role :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <p th:text="*{role}"></p>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Image :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <img th:src="*{image}" alt="user img">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">description :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <p th:text="*{description}"></p>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">about :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <p th:text="*{about}"></p>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--                            </div>-->
                            <!-- END DATA TABLE -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>
                                    Copyright © 2018 Colorlib. All rights reserved. Template
                                    by <a href="../bootstrap/https://colorlib.com">Colorlib</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="back-end/layout/link::script">

</th:block>
</body>
</html>