<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3><a th:href="@{/product}">Back</a></h3>
<!--<div th:if="${mess}">-->
<!--    <h3 th:text="${mess}"></h3>-->
<!--</div>-->

<form th:action="@{/product/update}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}">
    <label>Name
        <input type="text" class="form-control" th:field="*{nameProduct}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{nameProduct}">Name Error</span>
        <input type="text" class="form-control" th:field="*{price}">
        <input type="text" class="form-control" th:field="*{rating}">
        <input type="text" class="form-control" th:field="*{description}">
        <input type="text" class="form-control" th:field="*{image}">
        <input type="text" class="form-control" th:field="*{status}">
        <input type="text" class="form-control" th:field="*{size}">
        <input type="text" class="form-control" th:field="*{color}">
        <input type="text" class="form-control" th:field="*{length}">
        <input type="text" class="form-control" th:field="*{fabric}">
        <input type="text" class="form-control" th:field="*{warranty}">
    </label>
    <input type="submit" value="Submit">
</form>

</body>
</html>